/*  Styling to product  container */
.productitem {
  background-color: rgba(237, 215, 236, 0.388);
  border: 2px solid rgb(238, 92, 92);
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}