#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(196, 209, 205, 0.068);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* To start Apply the custom CSS Styling */
h1 {
  color: green;
}

/*  Styling to product list container */

.proudcts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: rgba(190, 27, 27, 0.315);
  padding: 40px;
  margin-top: 40px;
  border-radius: 30px;
  border: 5px solid black;

}

img {
  border-radius: 25px;
  border: 2px solid rgba(29, 28, 28, 0.66);
}

/* Using the media Query*/

@media screen and (max-width: 768px) {
  body {
    background-color: rgb(220, 228, 220);

    .proudcts-container {
      flex-direction: column;
    }
  }
}